<%= simple_form_for veterinario do |form| %>
  <%= form.error_notification%>
  <%= form.error_notification message: form.object.erros[:base].to_sentence if form.object.errors[:base].present? %>

  <div>
    <%= form.input :nome, style: "display: block" %>
    <%= form.input :idade, style: "display: block" %>
    <%= form.input :telefone, style: "display: block" %>
    <%= form.input :email, style: "display: block" %>
  </div>

  <div style="padding: 20px">
    <%= form.button :submit, class: "btn btn-success"%>
    <%= link_to "voltar para veterinarios", veterinarios_path, class: "btn btn-secondary" %>
  </div>
<% end %>