<div id="<%= dom_id veterinario %>">
  <p>
    <strong>Nome:</strong>
    <%= veterinario.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= veterinario.idade %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= veterinario.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= veterinario.email %>
  </p>

</div>
