<%= simple_form_for(@atendimento) do |form| %>
  <%= form.error_notification%>
  <%= form.error_notification message: form.object.erros[:base].to_sentence if form.object.errors[:base].present? %>

  <div>
    <%= form.input :atendimentos_data, style: "display: block" %>
    <%= form.association :veterinario, collection: Veterinario.sorted.name, prompt: "escolha um veterinario" ,style: "display: block" %> 
    <%= form.association :animal, collection: Animal.name.sorted, prompt: "escolha um animal" ,style: "display: block" %>  
  </div>

  <div>
    <%= form.button :submit, class: "btn btn-success" %>
    <%= link_to "voltar para atendimentos", atendimentos_path, class: "btn btn-secondary" %>
  </div>
<% end %>