<%= simple_form_for animal do |form| %>
  <%= form.error_notification%>
  <%= form.error_notification message: form.object.erros[:base].to_sentence if form.object.errors[:base].present? %>

    <%= form.input :nome, style: "display: block", class: "padding: 10px" %>
    <%= form.input :idade, style: "display: block"  %>
    <%= form.input :sexo, style: "display: block"  %>

  <div>
    <%= form.button :submit, class: "btn btn-success" %>
    <%= link_to "voltar para animais", animals_path, class: "btn btn-secondary" %>
  </div>
<% end %>
